    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: 10px;
        margin-left: auto;
        margin-top: 2px !important;
    }

    .modal-content {
      min-height: 99vh;
    }

    /* Fixed modal header */
.modal-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
}

/* Hide scrollbar for modal body */
.modal-body {
  overflow-y: hidden !important;
  max-height: 300px; /* Adjust as needed for modal height */
}

.modal-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.modal-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
